<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @weightlifting_definition.name %>
</p>

<%= link_to 'Edit', edit_weightlifting_definition_path(@weightlifting_definition) %> |
<%= link_to 'Back', weightlifting_definitions_path %>
