<%#= javascript_include_tag "https://code.jquery.com/jquery-2.2.4.min.js" %>
<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js" %>
<%= javascript_include_tag "http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.js" %>
<%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.9.1/fullcalendar.min.css" %>

<script type="text/javascript">
$(function(){
	$('#calendar').fullCalendar({
		//weekends: false

		dayClick:function(){
			
		},
		eventSources:[
			{
				events:[
					{
						title: 'Jiujitsu',
						start: '2016-08-15T12:00:00',
						details: 'All Levels',
					}
				],
				color:'blue'
			},
			{
				events:[
					{
						title: 'Biceps, Triceps',
						start: '2016-08-15T12:00:00',
					}
				],
				color:'green'
			}
		],
		eventClick:function(event){
			alert(event);
		},
		eventRender:function(event, element){
			var details = $('<div class="event-tooltip">');
			details.text(event.details);
			$(element).append(details);
		}
	});
});
</script>

<div id="calendar"></div>