<div class="workout-defs">
	<% @workout_defs.each do |type, defs| %>
		<div class="workout-def">
			<h1><%= type.gsub('Definition','') %></h1>
			<ul>
				<% defs.each do |d| %>
					<li><span class="def-name"><%= d.name %> (days since: <%= days_since(d) %>)</span></li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>