<div class="workout-defs">
	<% @workout_defs.each do |type, defs| %>
		<div class="workout-def">
			<h1><%= type.gsub('Definition','') %></h1>
			<ul>
				<% defs.each do |d| %>
					<li>
						<div class="def-name"><%= d.name %> (days since: <%= days_since(d) %>)</div>
						<div class="add-link">
							<%= link_to 'Add', new_workout_transaction_path(:workout_def => d) %>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>
</div>