// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'colors';

.workout-defs{
	display:flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.workout-def{
	margin: 1em;
	border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	h1{
		margin: 1em;
	}

	ul{
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	

	li:first-child{
		border-top: 1px $grey-200 solid;
	}

	li{
		margin: 0;
		width: 100%;
		height: 50px;
		border-bottom: 1px $grey-200 solid;
		vertical-align: middle;
	}

	li:hover{
		background-color: $grey-200;
	}

	.def-name{
		
	}

	.add-link{
		margin: auto;
	}
}
