<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mma_definition.name %>
</p>

<%= link_to 'Edit', edit_mma_definition_path(@mma_definition) %> |
<%= link_to 'Back', mma_definitions_path %>
